body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-self: center;
  background-color: #fffffe;
  padding: 0px 16px 16px 16px;
  margin: auto;
  border-radius: 8px 8px 0px 0px;
}

.column-one {
  margin-right: 12px;
}

.column-two {
  margin-left: 12px;
}
img {
  margin-top: 28px;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border-color: aqua;
  border: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66));
}

h2{
  font-size: 24px;
}

p {
  font-size: 14px;
}

.wiki-link {
  font-size: 14px;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}
ul.horizontal-list {
  margin-top: -8px;
  list-style: none;
  font-size: 12px;
}
ul.horizontal-list li {
  display: inline;
  margin-right: 24px;
}
ul.horizontal-list li:first-of-type {
  display: inline;
  margin-right: 24px;
  margin-left: -40px;
}
